@model UpdateDiscountDto
@{
    ViewData["Title"] = "UpdateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Discount Opeartions</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Update Discount</div>
                        </div>
                        <input type="hidden" asp-for="DiscountID" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Enter Discount title</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Rate">Enter Discount Amount</label>
                                <input type="text" class="form-control" asp-for="Amount" id="Rate">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Enter Discount ImageUrl</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Enter Discount Description</label>
                                <input type="text" class="form-control" asp-for="Description" id="Description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Update Discount</button>
                            <a asp-controller="Discount" asp-action="Index" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>