@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Product Opeartions</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Updating Product</div>
                        </div>

                        <input type="hidden" class="form-control" asp-for="ProductId" >

                        <div class="card-body">
                            <div class="form-group">
                                <label for="productname">Please Enter Product Name</label>
                                <input type="text" class="form-control" asp-for="ProductName" id="productname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Please Enter Price</label>
                                <input type="text" class="form-control" asp-for="Price" id="price">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="image">Please Enter Image</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="image">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Please Choose Category</label>
                                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Please Enter Product Description</label>
                                <input type="text" class="form-control" asp-for="Description" id="description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Update Product</button>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>